:root {
    --color_1: rgb(121, 9, 102);
    --color_2: rgb(40, 0, 42);
    --color_3: rgb(36, 0, 32);
    --color_4: rgb(124, 0, 255);
    --gradient_1: linear-gradient(120deg, var(--color_1) 16%, var(--color_2) 38%, var(--color_3) 38%, var(--color_4) 82%);
}

body {
    margin: 0;
}
